@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
body {
  font-family: "Montserrat", sans-serif;
}

.underline-text {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

.underline-text:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid black;
}

.title-row {
    padding-top: 20vh;
}

@media (max-width: 768px) {
  .cards {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .mobile-view-rows {
    flex-direction: column-reverse;
  }
}